{% extends 'wiki.html' %}
{% load static %}

{% block css_1 %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.preview.min.css' %}">

{% endblock %}

{% block button_rm_up %}
    <a type="button" class="btn btn-primary btn-xs"
       href="{% url 'web:manage:wiki_edit' request.user.project.id wiki_id %}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        编辑
    </a>
    <a type="button" class="btn btn-danger btn-xs"
       href="{% url 'web:manage:wiki_delete' request.user.project.id wiki_id %}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        删除
    </a>
{% endblock %}

{% block addOrDetailWiki %}
    <h1 style="text-align: center">{{ wiki_pro.title }}</h1><hr>
    <div id="previewMarkdown">
        <textarea>{{ wiki_pro.text }}</textarea>
    </div>
{% endblock %}


{% block js_2 %}

    <script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
    <script src="{% static 'plugin/editor-md/lib/marked.min.js' %}"></script>
    <script src="{% static 'plugin/editor-md/lib/prettify.min.js' %}"></script>
    <script src="{% static 'plugin/editor-md/lib/raphael.min.js' %}"></script>
    <script src="{% static 'plugin/editor-md/lib/underscore.min.js' %}"></script>
    <script src="{% static 'plugin/editor-md/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'plugin/editor-md/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'plugin/editor-md/lib/jquery.flowchart.min.js' %}"></script>

    <script>
        $(function () {
            initPreivewMarkdown();
        })
        
        function initPreivewMarkdown() {
            editormd.markdownToHTML("previewMarkdown",{
               // 过滤 文档中出现 style,script,iframe 会以字符串展示，不会解析
                htmlDecode:"style,script,iframe"
            });
        }
        
    
    </script>

{% endblock %}