{% extends 'layout/manage.html' %}
{% load static %}
{% block title %}
	<title>项目列表</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block content %}
    <div class="account">
        <div class="container-fluid project">
            <a class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            新建项目</a>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增项目</h4>
              </div>
              <div class="modal-body">

                <form id="addForm">
                    {% csrf_token %}
                    {% for foo in form %}
                        <div class="form-group">
                            <label for="{{ foo.id_for_label }}">
                                {{ foo.label }}
                            </label>
                            {{ foo }}
                            <span class="error-msg"></span>
                        </div>
                    {% endfor %}
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubProject()">Submit Project</button>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-danger">
          <div class="panel-heading">
              <i class="fa fa-star" aria-hidden="true"></i>
              收藏
          </div>
          <div class="panel-body">
              {% for pro in project_dict.star %}
                <div class="item">
                    <a href="#" class="title" style="background-color: {{ pro.get_color_display }}">{{ pro.name }}</a>
                    <div class="info">
                        <div>
                            <a href="{% url 'web:project_star' type='star' pro_id=pro.id %}"><i class="fa fa-star" aria-hidden="true" style="color: rgb(244,159,54)"></i></a>
                            <span>{{ pro.createdBy.username }}</span>
                        </div>
                        <div>
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span>{{ pro.join_count }}</span>
                        </div>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-list" aria-hidden="true"></i>
                我创建的
            </h3>
          </div>
          <div class="panel-body">
              {% for pro in project_dict.my %}
                <div class="item">
                    <a href="#" class="title" style="background-color: {{ pro.get_color_display }}">{{ pro.name }}</a>
                    <div class="info">
                        <div>
                            <a href="{% url 'web:project_star' type='my' pro_id=pro.id %}"><i class="fa fa-star" aria-hidden="true" style="color: rgb(203,203,203)"></i></a>
                            <span>{{ pro.createdBy.username }}</span>
                        </div>
                        <div>
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span>{{ pro.join_count }}</span>
                        </div>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>

        <div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
        我参与的
    </h3>
  </div>
  <div class="panel-body">
      {% for pro in project_dict.join %}
        <div class="item">
            <a href="#" class="title" style="background-color: {{ pro.get_color_display }}">{{ pro.name }}</a>
            <div class="info">
                <div>
                     <a href="{% url 'web:project_star' type='join' pro_id=pro.id %}"><i class="fa fa-star" aria-hidden="true" style="color: rgb(203,203,203)"></i></a>
                    <span>{{ pro.createdBy.username }}</span>
                </div>
                <div>
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span>{{ pro.join_count }}</span>
                </div>
            </div>
        </div>
      {% endfor %}
  </div>
</div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/project.js' %}"></script>
{% endblock %}