<!DOCTYPE html>
{#{% load static %}#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<style>
    .boxx{
        width: 400px;
        height: 600px;
        margin: auto;
    }
</style>
<body>


<div class="boxx">
    <form method="post">
     <h1 style="text-align: center">注册</h1>
    {% for foo in form %}
        {% csrf_token %}
        {% if foo.name == "code" %}
            <div class="form-group">
                <label for="{{ foo.id_for_label }}"  >{{ foo.label }}</label>
                <div class="clearfix">
                    <div class="col-md-6" style="padding-left: 0">{{ foo }}</div>
                    <div class="col-md-6"><input type="button" class="btn btn-default" value="点击获取验证码" onclick="getCode()"> </div>
                </div>
            </div>
        {% else %}
            <div class="mb-3">
                <label for="{{ foo.id_for_label }}"  >{{ foo.label }}</label>
                {{ foo }}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    function getCode() {
        // 获取邮箱
        var email = document.getElementById("id_email").value;
        console.log(email);
        // 使用AJAX发送邮箱地址到服务器
        var xhr = new XMLHttpRequest();
        xhr.open("GET", '/app01/verify/?email='+email, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE){
                if (xhr.status === 200){
                    console.log("验证码已发送！");
                    console.log(xhr.responseText)
                }else{
                    console.log("验证码发送失败！");
                }
            }
        };
        xhr.send();
    }
</script>


</body>
</html>